<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout}"
	  lang="en" class="no-js">
<div layout:fragment="content">
	<!-- start banner Area -->
	<div th:replace="fragments/banner::banner"></div>
	<!-- End banner Area -->

	<!-- start features Area -->
	<div th:replace="fragments/features::features"></div>
	<!-- end features Area -->

	<!-- Start category Area -->
	<div th:replace="fragments/category::category"></div>
	<!-- End category Area -->

	<!-- start product Area -->
	<div th:replace="fragments/product::product"></div>
	<!-- end product Area -->

	<!-- Start exclusive deal Area -->
	<!-- End exclusive deal Area -->

	<!-- Start brand Area -->
	<!-- End brand Area -->

	<!-- Start related-product Area -->
	<!-- End related-product Area -->
</div>

</html>